##########################################################################
#                                                                        #
#    					 Sweep Tool Config File                          #
#                                                                        #
##########################################################################
#example:uncore_ceiling(Ghz) = 2.0, 2.2-2.5
#The example represents 2.0Ghz, 2.2Ghz, 2.3Ghz, 2.4Ghz, 2.5Ghz. Range [0.8, 2.5], step 0.1 Ghz
uncore_ceiling(Ghz) = 2.5

#example:utilization_point = 0, 5-7
#The example represents UP=0, 5, 6, 7. Range [0,10], step 1
utilization_point = 4-6

#example:uncore_freq(Ghz) = 1.4, 1.6-1.8, 2.0
#The example represents 1.4Ghz, 1.6Ghz, 1.7Ghz, 1.8Ghz, 2.0Ghz, range [0.8, 2.5], step 0.1Ghz
uncore_freq(Ghz) = 1.4, 1.6, 1.8

#example:FC1E = enable, disable
#Range [enable, disable]
FC1E = disable

#example:active_idle = enable, disable
#Range [enable, disable]
active_idle = enable, disable

#example: specpower_1, specjbb_1, SIR_1, SFR_1
#The example represents specpower/SIR/SFR/SpecJBB runs one round each
workload_list = specjbb_1

##########################################################################
#Path
#The path should contain the script to execute benchmark, and the results should also be in the subdirectory under the path

specpower_path = /home/chengxiang/benchmark/SPECpower/SPEcpower/SPECpower_ssj2008-v1.12

speccpu_path = /home/chengxiang/benchmark/CPU2017

specjbb_path = /home/qixiao/SPECjbb2015-master/jbb103

output_path = /home/qixiao/auto_sweep/output

ptu_path = /home/chengxiang/benchmark/ptu

emon = no

